:root {
  --accent: #2196f3;
  --secondarytext: #212121;
  --white: #ffffff;
  --maintext: #757575;
  --backgroundheader: #ffffff;
  --backgroundfootertitle: #2f303a;
  --backgroundbuttons: #f5f4fa;
  --backgroundmain: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Main home page-index */

body {
  background-color: var(--backgroundmain);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: var(--maintext);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Social Links Icons */
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition-property: background-color, color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
/* END of Social Links */

/* header */
.main-header {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ececec;
}

.main-header .container {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

/* logo */
.logoblue {
  color: var(--accent);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo {
  color: var(--secondarytext);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-menu {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header-nav .nav-link:not(:last-child) {
  margin-right: 50px;
}

.header-nav {
  list-style: none;
  display: flex;
  margin-left: 93px;
}

.header-nav .link {
  position: relative;
  color: var(--secondarytext);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .currentlink {
  position: relative;
  /* color: var(--secondarytext); */
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .currentlink:after {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent);

  opacity: 1;
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent);
  cursor: pointer;
}

.header-nav .link:active {
  color: var(--accent);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--maintext);
  fill: var(--maintext);

  text-decoration: none;

  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.contact-icon-tel,
.contact-icon-email {
  margin-right: 10px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent);
  fill: var(--accent);
}

.main-section {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-title {
  max-width: 696px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-heading {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mainsection.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
}

.main-button {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  background-color: var(--accent);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  padding: 10px 32px;
  outline: none;

  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 40px;
  padding-bottom: 40px;

  width: 528px;
  height: 581px;
  border-radius: 4px;

  transform: translate(-50%, -50%);
  background-color: var(--white);

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-title {
  font-size: 23px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondarytext);

  /* margin-top: 40px;
  margin-left: auto; */
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 448px;
  /* margin-left: 46px; */
  margin-bottom: 10px;
  /* outline: 1px solid tomato; */
}

.form-field label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--maintext);

  margin-bottom: 4px;
}

.form-field input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form-field input:focus,
.form-field textarea:focus {
  border: 1px solid #2196f3;
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-svg {
  position: relative;
}

.form-icon {
  position: absolute;
  display: inline-block;

  fill: #212121;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form-field input:focus + .form-icon {
  fill: #2196f3;
}

.form-checkbox {
  /* margin-left: 52px; */
  margin-top: 20px;
  font-size: 14px;
}

.form-field .form-svg input,
.form-field .form-svg .form-icon,
.form-field textarea {
  transition-property: transform, fill, border, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  margin-right: 8px;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent);
  border-color: var(--accent);
  background-image: url(../images/icon-checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  fill: var(--white);

  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.checkbox:focus ~ .checkbox-icon {
  border-color: var(--accent);
}

.checkbox-link {
  color: var(--accent);
}

.submit-button {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: block;
  background-color: var(--accent);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;

  padding: 10px 32px;

  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.submit-button:focus,
.submit-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.closebtn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.close-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.closebtn:focus,
.closebtn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main-button:focus,
.main-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/* main list */
.main-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
}

.item {
  flex-basis: calc(100% / 4 - 30px);
}

.main-list .item:not(:first-child) {
  margin-left: 30px;
}

.main-list .thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.advantages-icons {
  width: 70px;
  height: 70px;
}

.main-subtitle {
  color: var(--secondarytext);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-text {
  color: var(--maintext);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* work section */
.work {
  padding-bottom: 94px;
}

.work-title {
  color: var(--secondarytext);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin-left: -15px;
  margin-right: -15px;

  justify-content: space-between;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}

.work-overlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  bottom: 0;
  left: 0;

  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.work-list .work-item:not(:last-child) {
  margin-right: 30px;
}

/* team section */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--backgroundbuttons);
}

.team-title {
  color: var(--secondarytext);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 0;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
}

.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-descr {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  align-content: center;
}

.team-subtitle {
  color: var(--secondarytext);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  margin-left: 0px;
  margin-right: 0px;
}

.team-text {
  color: var(--maintext);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 16px;
}

.team-list {
  list-style: none;
}
/* client section */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  color: var(--secondarytext);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.client-list-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.client-list-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent);
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.clients-list-link:hover .client-list-icon,
.clients-list-link:focus .client-list-icon {
  fill: var(--accent);
}
/* footer */

.main-footer {
  background-color: var(--backgroundfootertitle);
}
/* footer logo */

.main-footer {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts {
  margin-right: 70px;
}

.footer-contacts-container {
  display: flex;
  align-items: baseline;
}

/* LOGO START */
.footer-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-decoration: none;
}
.logoblue {
  color: var(--accent);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus {
  cursor: pointer;
}

.footer-item:hover,
.footer-item a:focus {
  color: var(--accent);
  cursor: pointer;
}
/* LOGO END */

.main-footer :focus {
  color: var(--accent);
  cursor: pointer;
}
/* footer info */

.footer-address {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: normal;
  /* outline: 2px solid red; */
}

.footer-contacts .link {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-item:not(:first-child) {
  margin-top: 9px;
}

.footer-contacts {
  display: block;
  list-style: none;
  margin-top: 9px;
}

.footer-address {
  margin-top: 20px;
}

.footer-social-links {
  display: block;
  align-items: baseline;
}

.footer-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color, color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent);
}

.subscribe-form {
  width: 570px;
  margin-right: auto;
  margin-left: 105px;
}

.subscribe {
  display: flex;
  align-items: center;
}

.subscribe-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.subscribe input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.subscribe input:focus {
  border: 1px solid var(--accent);
}

.subscribe-button {
  position: relative;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: block;
  width: 200px;
  background-color: var(--accent);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;

  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.subscribe-button:focus,
.subscribe-button:hover {
  background-color: #188ce8;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 24px;
  height: 24px;

  fill: var(--white);
  align-items: baseline;
  top: 50%;
  transform: translateY(-50%);

  margin-left: 10px;
}

/* portfolio page */
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.porfolio .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
/* FILTER */
.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  align-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn,
.filter-btn:active {
  color: var(--secondarytext);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--backgroundbuttons);
  border-radius: 4px;
  padding: 6px 22px;
  outline: none;
  border: none;

  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  text-decoration: none;
}
/* FILTER END */

/* PORTFOLIO CARDS */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  max-width: 370px;

  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.portfolio-img {
  display: block;
  max-width: 367px;
}
.portfolio-listing {
  text-decoration: none;
}
.portfolio-descr {
  display: block;
  padding: 20px 24px;
}

.portfolio-item-overlay {
  display: flex;
  position: relative;
  overflow: hidden;
}

.portfolio-popup {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;

  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  opacity: 0;
  transform: translateY(100%);

  transition-property: translateY(100%);
  transition-timing-function: linear;
  transition-duration: 250ms;
}

.portfolio-item:hover .portfolio-popup,
.portfolio-item a:focus .portfolio-popup {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-list .portfolio-item:hover,
.portfolio-item .portfolio-listing:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-subtitle {
  color: var(--secondarytext);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-align: left;
}
.portfolio-text {
  color: var(--maintext);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}
/* PORTFOLIO CARDS END */
